<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.engstuff.coloriphornia" >

    <uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activities.ThisApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.ColorC"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ColorCC"
            android:label="@string/title_activity_color_cc" >
        </activity>

        <activity
            android:name=".activities.FullScreenColor"
            android:parentActivityName=".activities.ColorC" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ColorC" />
        </activity>

    </application>

</manifest>
